@import "tailwindcss";

:root {
  --titlebar-height: 2.5rem;
}

/* Light theme override (when <html> does NOT have class="dark") */
:root:not(.dark) {
  --color-gray-50: #030712;
  --color-gray-100: #111827;
  --color-gray-200: #1f2937;
  --color-gray-300: #374151;
  --color-gray-400: #4b5563;
  --color-gray-500: #6b7280;
  --color-gray-600: #9ca3af;
  --color-gray-700: #d1d5db;
  --color-gray-800: #e5e7eb;
  --color-gray-900: #f3f4f6;
  --color-gray-950: #f9fafb;
}

html:not(.dark) body {
  @apply bg-gray-950 text-gray-900;
}

html.dark body {
  @apply bg-gray-950 text-gray-100;
}

body {
  margin: 0;
  overflow: hidden;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
  border: 1.5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
  border-radius: 4px;
  border: 1.5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #64748b transparent;
}
